<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Demo">
    <test name="Test">
         <classes>
             <class name="AutomationDemo.TC1RegisterUser"/>
             <class name="AutomationDemo.TC2LoginUserCorrect"/>
             <class name="AutomationDemo.TC3LoginUserIncorrect"/>       
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->